//Start: FOOTER
footer
   .container
        .row
            .span8
                h4 Get in touch
                .social-icons-row
                    a(href='#')
                        i.icon-twitter
                    a(href='#')
                        i.icon-facebook
                    a(href='#')
                        i.icon-linkedin
                .social-icons-row
                    a(href='#')
                        i.icon-google-plus
                    a(href='#')
                        i.icon-github
                    //a(href='mailto:setriothor@gmail.com')
                    //    i.icon-envelope
                //.social-icons-row
                //    i.icon-phone.icon-large.phone-number
                    | +919650117977
            .span3
                h4 Contact us by email
                form(action='mailto:admin@domain.com', method='GET')
                    input(name='subject', type='text',placeholder="subject" )
                    textarea(name='body',placeholder="body")
                    input.btn.btn-primary(type='submit', value='Contact us')
    hr.footer-divider
    .container
        p
            | © 2012-3000 TravelParrot, Inc. All Rights Reserved.
   //JQuery
   //script(type='text/javascript', src='http://code.jquery.com/jquery-1.9.1.min.js')
   script(type='text/javascript', src='/lib/jquery/jquery-1.9.1.min.js')
   //AngularJS

   script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js')
   //script(type='text/javascript', src='/lib/angular/angular.js')
   script(type='text/javascript', src='/lib/angular-cookies/angular-cookies.js')
   script(type='text/javascript', src='/lib/angular-resource/angular-resource.js')
   //Angular UI
   script(type='text/javascript', src='http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.7.0.js')
   //script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap-tpls.js')
   //script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap.js')
   script(type='text/javascript', src='/lib/angular-ui-utils/modules/route/route.js')
   //angular-file-upload
   script(type='text/javascript', src='/lib/angular-file-upload/angular-file-upload-shim.min.js')
   script(type='text/javascript', src='/lib/angular-file-upload/angular-file-upload.min.js')
   //Bootbusiness
   script(type='text/javascript', src='/lib/bootbusiness/boot-business.js')
   //Google Maps
   script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false')
   //Application Init
   script(type='text/javascript', src='/js/app.js')
   script(type='text/javascript', src='/js/config.js')
   script(type='text/javascript', src='/js/directives.js')
   script(type='text/javascript', src='/js/filters.js')
   //Application Services
   script(type='text/javascript', src='/js/services/global.js')
   script(type='text/javascript', src='/js/services/articles.js')
   script(type='text/javascript', src='/js/services/events.js')
   script(type='text/javascript', src='/js/services/users.js')
   //Application Controllers
   script(type='text/javascript', src='/js/controllers/articles.js')
   script(type='text/javascript', src='/js/controllers/events.js')
   script(type='text/javascript', src='/js/controllers/users.js')
   script(type='text/javascript', src='/js/controllers/index.js')
   script(type='text/javascript', src='/js/controllers/header.js')
   script(type='text/javascript', src='/js/init.js')
   if (req.host='localhost')
   //Livereload script rendered
    script(type='text/javascript', src='http://localhost:35729/livereload.js')

