<section data-ng-init="findOne()">
    <div class="control-group controls">
        <h3>Change Password</h3>
    </div>
    <!--test-->
    <form name='appForm' ng-submit='updatePassword()'>

        <div class="control-group">
            <label class="control-label required" for="oldPassword">Old Password</label>
            <div class="controls">
                <input id="oldPassword" name="password" ng-model="changePasswordFields.oldPasswordEnc" class="input-xlarge" required="true" type="password" readonly/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label required" for="oldPasswordConfirm">Confirm Old Password</label>
            <div class="controls">
                <input name="oldPasswordConfirm" ng-change="passwordChangeRequestUpdate()" id = "oldPasswordConfirm" ng-model="changePasswordFields.oldPasswordConfirm" class="input-xlarge" required="true"
                       type="password" />
                <input  ng-change="passwordChangeRequestUpdate()"  ng-model="changePasswordFields.oldPasswordEncConfirm" class="input-xlarge"
                        type="hidden" match="changePasswordFields.oldPasswordEnc" />
                <div ng-show="appForm.$error.mismatch">
                    <span class="msg-error">old password and confirm old password must match.</span>
                </div>
            </div>
        </div>
        <!--temporal debug-->
        <!--<div class="control-group">-->
            <!--<div class="controls">-->
                <!--<h1>{{changePasswordFields.oldPasswordEncConfirm}}</h1>-->

            <!--</div>-->
        <!--</div>-->
        <!--temporal debug-->
        <div class="control-group">
            <label class="control-label required" for="password">New Password</label>
            <div class="controls">
                <input id="password" name="password" ng-model="changePasswordFields.password" class="input-xlarge" required="true" type="password" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label required" for="passwordConfirm">Confirm New Password</label>
            <div class="controls">
                <input name="passwordConfirm" id = "passwordConfirm" ng-model="changePasswordFields.passwordConfirm" class="input-xlarge" required="true"
                       type="password" match="changePasswordFields.password" />
                <div ng-show="appForm.passwordConfirm.$error.mismatch">
                    <span class="msg-error">new password and confirm new password must match.</span>
                </div>
            </div>
        </div>
        <button type="submit" class="btn" ng-disabled='appForm.$invalid'>Change Password</button>
    </form>
    <!--test-->
</section>