<section>
    <!--file upload override style-->
    <script type='text/javascript' src='/lib/fileUpload/bootstrap-filestyle.min.js'></script>
    <!--file upload override style-->
    <form class="form-horizontal">
		<div class="control-group">
			<label class="control-label" for="title">Title</label>
			<div class="controls">
				<input type="text"  data-ng-model="title" id="title" placeholder="Title" class="field span7" required>
			</div>
		</div>
        <!--start file-->
        <div class="control-group">
            <label class="control-label" for="image">Image</label>
            <!--<div class="controls" ng-controller="FileUploadCtrl">-->
            <div class="controls">
                <img ng-show="file_url && (file_url != '')" width="63" height="30" ng-src="/uploads/{{file_url}}">
                <!--file input customized using bootstrap-filestyle.-->
                <input ng-file-select="onFileSelect($files)" type="file" accept="image/*" class="filestyle" data-buttonText="Choose image" data-classButton="btn btn-primary" data-icon="false" data-input="false">
                <button  type="button" ng-click="clearImage()" class="btn btn-primary">Clear</button>
            </div>
        </div>
        <!--end file-->
		<div class="control-group">
			<label class="control-label" for="content">Content</label>
			<div class="controls">
				<textarea data-ng-model="content" class="field span7" id="content" cols="30" rows="15" placeholder="Content"></textarea>
			</div>
		</div>
        <!--google map placeholder-->

        <!--google map actions-->
        <div class="control-group">
            <!--<label class="control-label" ><h4>Search</h4></label>-->

            <div class="controls">
                <h5>Click on the map, search, or get current location to add a new place (marker) to the event. <br> Click on the marker to check current weather conditions.</h5>
                <button  ng-click="GoogleMaps.search()"  class="btn">Search for a new place</button>
                <input  type="text" class="span3"  data-ng-model="newPlace" id="searchMap" placeholder="enter new place to visit here">
                <div class="row">&nbsp</div>
                <div id="map_canvas" style="width: 670px; height: 300px;">
                    {{GoogleMaps.createMap();GoogleMaps.createMarkersFromDestinations();}}
                </div>
                <div class="row">&nbsp</div>
                <button  ng-click="GoogleMaps.getCurrentLocation()"  class="btn">Get current location</button>
                <button  ng-click="GoogleMaps.deleteMarkers()"  class="btn">Clear markers from event</button>
            </div>
        </div>
        <!--google map placeholder-->
		<div class="control-group">
			<div class="controls">
                <button ng-click="create()" name="submit" type="submit" class="btn btn-primary">Create</button>
				<!--<input type="submit" class="btn">-->
			</div>
		</div>
	</form>

</section>