<section data-ng-init="findOne();">
    <div class="controls">
        <h2>{{event.title}}
            <a data-ng-show="global.user._id == event.user._id" ng-href="/#!/events/{{event._id}}/edit">edit</a>
            <a data-ng-show="global.user._id == event.user._id" ng-href="/#!/events/{{event._id}}/delete">delete</a>
        </h2>
        <h5>
            <div ng-show="event.periodFrom">From: {{event.periodFrom | date:'medium'}}</div>
            <div ng-show="event.periodTo">To: {{event.periodTo | date:'medium'}}</div>
        </h5>
        <img ng-show="showImage(event)" width="630" height="300" ng-src="/uploads/{{event.file_url}}">
        <div class="row">&nbsp</div>

        <div>{{event.content}}</div>

        <h5 ng-show="event.destinations">Places to visit</h5>
        <!--google map placeholder-->
        <button ng-show="event.destinations" type="button" ng-click="GoogleMaps.createMarkersFromDestinations()" class="btn">Zoom Extends</button>
        <!--<div ng-show="event.destinations" id="map_canvas" style="width: 630px; height: 300px;"></div>-->
        <div id="map_canvas" style="width: 630px; height: 300px;">
            {{GoogleMaps.createMapForView()}}
        </div>
        <div ng-show="event.destinations">
            <p>Click on the markers to check current weather conditions.</p>
        </div>
        <div class="row">&nbsp</div>
        <span>Created: {{event.created | date:'medium'}}</span><br><span>By: {{event.user.name}}</span>
    </div>
    <!--<div id="map-canvas" style="width: 630px; height: 300px;">here</div>-->
</section>




