<section data-ng-init="findOne()">
    <!--file upload override style-->
    <!--file upload override style-->
    <form class="form-horizontal" data-ng-submit="update()">
        <div class="control-group controls">
            <h3>Edit</h3>
        </div>
        <div class="control-group">
            <label class="control-label" for="title">Title</label>
            <div class="controls">
                <input type="text" data-ng-model="message.title" id="title" class="field span9" placeholder="Title" required>
                </input>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="content">Content</label>

            <div class="controls">
                <textarea data-ng-model="message.content" id="content" class="field span9" cols="30" rows="15" placeholder="Content">
                </textarea>
            </div>
        </div>
        <!--comments-->
        <div ng-show="editModeComments && editModeComments.length">
            <div class="controls">
                <h4>Comments</h4>
                <ul class="unstyled">
                    <li ng-repeat="comment in editModeComments">
                        <button ng-show="comment" type="button" ng-click="removeComment($index)" class="btn">remove</button>
                        <a ng-href="/#!/users/{{comment.user}}"><img width="60" height="30" ng-src="{{comment.file_url}}"></a>
                        {{comment.body}}
                    </li>
                </ul>
            </div>
        </div>
        <!--comments-->
        <div class="controls">
            <button  type="submit" class="btn btn-primary">Update</button>
            <!--<div class="controls">-->
            <!--<input type="submit" class="btn">-->
            <!--</div>-->
        </div>
    </form>
</section>